header, footer {
  padding: 20px;
  background-color: #BC4639;
}

#main-container {
  align-items: center;
}

#settings-container {
  border: 1px solid #BC4639;
  border-radius: 15px;
  align-items: center;
  margin-left: 20px;
  margin-right: 50px;
}

a {
  align-items: center;
}

#item-container {
  padding: 20px;
}

.card {
  border: 1px solid #BC4639;
  border-radius: 15px;
  margin-left: 10px;
  margin-right: 10px;
  padding: 30px;
  align-items: center;
}

img {
  width: 100px;
  margin-top: 10px;
}

button {
  width: 150px;
}


footer {
  position: fixed;
  width: 100%;
  bottom: 0;
  text-align: right;
}

#4285F4
#5C2018
#BC4639
#D4A59A
#F3E0DC
