<div id="footer-container">
  <a class='about-us' id="footer__a" href="./about_us">About us</a>
  <a class='home' id="footer__a" href="./index"><i class="far fa-gem"></i></a>
  <p class='copyright'>Copyright &copy; 2018</p>
</div>
