<div id="footer-container">
  <a class='about-us' id="footer__a" href="./about_us.html" target="_blank">About us</a>
  <a class="home" id="footer__a" href="/" target="_blank"><img class="footer__logo" src="../images/Gems_Logo.png"></a>
  <p class='copyright'>Copyright &copy; 2018</p>
</div>
