
<div>
  <a href="../about-us.html" target="_blank" class="header__a">About Us</a>
  <img id="header-line-left" src="../images/header-line.png">
  <img id="header-line-right" src="../images/header-line-right.png">
  <h1 class="header__h1"><i class="far fa-gem"></i>GEMS</h1>
</div>
