<!DOCTYPE html>
<html>
  <head>
      <% include ./head %>
      <!-- <link rel='stylesheet' href='/stylesheets/style.css'/> -->
  </head>
  <body>
    <header>
      <% include ./header %>
    </header>

    <footer>
      <% include ./footer %>
    </footer>
  </body>
