<!DOCTYPE html>
<html>

<head>
  <% include ./head %>
    <link rel="stylesheet" href="/stylesheets/carousel.css" />
    <link rel="stylesheet" href="/stylesheets/index.css" />
    <script src = "/js/scripts.js"></script>
</head>

<body>
  <header>
    <% include ./header %>
  </header>
  <div id="upper">

    <!-- BEGIN: THIS PART SHOULD ONLY SHOW UP WHEN **NOT** LOGGED IN -->
    <% if (typeof signinSuccess === "undefined") { %>
      <form class="form" method="POST" action="/">
        <div class="container">
          <div class="row">
            <div class="col-md-4">
              <input class="form-control" name="email" type="email" placeholder="Email" required />
            </div>
            <div class="col-md-4">
              <input class="form-control" name="password" type="password" placeholder="Password" required />
            </div>
            <div class="col-md-2">
              <button type="submit" id="log-in">Log In</button>
            </div>
            <div class="col-md-2">
              <button id="sign-up">Sign Up</button>
            </div>
          </div>
        </div>
      </form>
    <% } %>
    <!-- END: THIS PART SHOULD ONLY SHOW UP WHEN **NOT** LOGGED IN -->

    <!-- BEGIN: THIS PART SHOULD ONLY SHOW UP **WHEN** LOGGED IN -->
    <% if (typeof signinSuccess !== "undefined") { %>
      <a href="/wishlist">WISHLIST</a>
    <% } %>
    <!-- END: THIS PART SHOULD ONLY SHOW UP **WHEN** LOGGED IN -->

    <div class="container">
      <div class="row">
        <div class="col-md-3">
          <button class="nav"><a href= './results/atq'>&nbsp;&nbsp;&nbsp;</a> ANTIQUES</button>
        </div>
        <div class="col-md-3">
          <button class="nav"><a href= './results/bks'>&nbsp;&nbsp;&nbsp;</a>BOOKS</button>
        </div>
        <div class="col-md-3">
          <button class="nav"><a href= './results/clt'>&nbsp;&nbsp;&nbsp;</a>COLLECTIBLES</button>
        </div>
        <div class="col-md-3">
          <button class="nav"><a href= './results/vgm'>&nbsp;&nbsp;&nbsp;</a>VIDEO GAMES</button>
        </div>
      </div>
    </div>
  </div>
  <div id="myCarousel" class="carousel slide" data-ride="carousel">
    <ol class="carousel-indicators">
      <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
      <li data-target="#myCarousel" data-slide-to="1"></li>
      <li data-target="#myCarousel" data-slide-to="2"></li>
      <li data-target="#myCarousel" data-slide-to="3"></li>
    </ol>
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img class="first-slide" src="../images/antiques_carousel.jpg" alt="First slide">
        <div class="container carousel-item__bg">
          <div class="carousel-caption text-left" id="carousel-caption">
            <h1 class="carousel-item__h1">ANTIQUES</h1>
          </div>
        </div>
      </div>
      <div class="carousel-item">
        <img class="second-slide" src="../images/books_carousel.jpg" alt="Second slide">
        <div class="container">
          <div class="carousel-caption" id="carousel-caption">
            <h1 class="carousel-item__h1">BOOKS</h1>
            <p></p>
          </div>
        </div>
      </div>
      <div class="carousel-item">
        <img class="third-slide" src="../images/video_game_carousel.png" alt="Third slide">
        <div class="container">
          <div class="carousel-caption text-right" id="carousel-caption">
            <h1 class="carousel-item__h1">VIDEO GAMES</h1>
            <p></p>
          </div>
        </div>
      </div>
      <div class="carousel-item">
        <img class="fourth-slide" src="../images/collectibles_carousel.jpg" alt="Fourth slide">
        <div class="container">
          <div class="carousel-caption" id="carousel-caption">
            <h1 class="carousel-item__h1">COLLECTIBLES</h1>
            <p></p>
          </div>
        </div>
      </div>
    </div>
  </div>
    <div class="container marketing">
  <main id="lower" role="main">
    <div class="container">
      <!-- Three columns of text below the carousel -->
      <div class="row">
        <div class="col-lg-4">
          <h2>CATEGORIES</h2>
            <div class="container">
              <ul class="category__ul">
                <li><a href="#" target="_blank" class="category__li">Antiques</a></li>
                <li><a href="#" target="_blank" class="category__li">Books</a></li>
                <li><a href="#" target="_blank" class="category__li">Collectibles</a></li>
                <li><a href="#" target="_blank" class="category__li">Video Games</a></li>
              </ul>
              </div>
          </div>

        <!-- /.col-lg-4 -->
        <div class="col-lg-4">
          <h2>ABOUT US</h2>
          <p class="about-us__p"><a href="./about_us.html" target="_blank" class="community__a">Our Team</a></p>
        </div>
        <!-- /.col-lg-4 -->
        <div class="col-lg-4">
          <h2>COMMUNITY</h2>
          <p class="community__p"><a href="../community.html" target="_blank" class="community__a">Coming Soon!</a></p>
        </div>
        <!-- /.col-lg-4 -->
      </div>
    </div>
      <!-- /.row -->
  </main>
</div>

  <footer>
    <% include ./footer %>
  </footer>

</body>

</html>
