<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <% include ./head %>
    <!-- <link rel="stylesheet" href="/stylesheets/homepage.css"> -->
    <script type="text/javascript" src='/js/wishlist-scripts.js'></script>
    <link rel="stylesheet" href="/stylesheets/results.css">
</head>

<body>
  <header>
    <% include ./header %>
  </header>

  <main role="main">
    <% for (let i = 0; i < allProducts.length; i++) { %>
      <article class="card">
        <img src=<%=allProducts[i].image%> />
        <div class="bottom-line">
          <h3 class="product-title"><%=allProducts[i].title%></h3>
          <h4 class="product-price"><%=allProducts[i].price%></h4>
          <button class="product-url"><a class="card-url" title="attachment-link" target="_blank" href="<%= allProducts[i].url %>">More details...</a></button>
          <button class="wishlist-btn">Add to Wishlist</button>
        </div>
      </article>
      <% } %>

  </main>


    </main>
    <footer>
      <% include ./footer %>
    </footer>

</body>

=======

  </main>
  <footer>
    <% include ./footer %>
  </footer>

</body>

>>>>>>> sign-up-form
</html>
