<!DOCTYPE html>
<html>
  <head>
      <% include ./head %>
      <link rel='stylesheet' href='/stylesheets/style.css'/>
      <link rel='stylesheet' href='/stylesheets/carousel.css'/>
  </head>
  <body>
    <header>
      <% include ./header %>
    </header>
    <main>
      <h1>SIGN UP</h1>
    </main>
    <footer>
      <% include ./footer %>
    </footer>

  </body>
</html>
