body {
  font-family: 'Open-Sans', sans-serif;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
  display: inline-block;
  width: $carousel-control-icon-width;
  height: $carousel-control-icon-width;
  background: transparent no-repeat center center;
  background-size: 100% 100%;
}
..carousel-control-prev,
.carousel-control-next {
  position: absolute;
  top: 0;
  bottom: 0;
  // Use flex for alignment (1-3)
  display: flex; // 1. allow flex styles
  align-items: center; // 2. vertically center contents
  justify-content: center; // 3. horizontally center contents
  width: $carousel-control-width;
  color: $carousel-control-color;
  text-align: center;
  opacity: $carousel-control-opacity;
  // We can't have a transition here because WebKit cancels the carousel
  // animation if you trip this while in the middle of another animation.

  // Hover/focus state
  @include hover-focus {
    color: $carousel-control-color;
    text-decoration: none;
    outline: 0;
    opacity: 0 !important;
  }
}


.carousel-control-next-icon {
  background-image: $carousel-control-next-icon-bg;
}
/* Carousel base class */
.carousel {
  margin-bottom: 4rem;
}
/* Since positioning the image, we need to help out the caption */
.carousel-caption {
  bottom: 3rem;
  z-index: 10;
}

#carousel-caption {
  left: 60%;
}

/* Declare heights because of positioning of img element */
.carousel-item {
  height: 500px;
  background-color: #777;
}

.carousel-item__h1 {
  background-color: #A98B88;
  border-radius: 2rem;
  padding: 3%;
  font-family: 'Shrikhand', cursive;
  font-size: 2.3rem;
  color: #FFFFFF;
  text-align: center;
  letter-spacing: .2rem;
  box-shadow: 3px 3px #fb734f;
}

.carousel-item > img {
  position: absolute;
  top: 0;
  left: 0;
  min-width: 100%;
  height: 500px;
}

img{
  height: 500px;

}


/* MARKETING CONTENT
-------------------------------------------------- */

/* Center align the text within the three columns below the carousel */
.marketing .col-lg-4 {
  margin-bottom: 1.5rem;
  text-align: center;
}
.marketing h2 {
  font-weight: 600;
  font-family: 'Shrikhand', cursive;
  letter-spacing: 0.3rem;
}
.marketing .col-lg-4 p {
  margin-right: .75rem;
  margin-left: .75rem;
}


/* Featurettes
------------------------- */

.featurette-divider {
  margin: 5rem 0; /* Space out the Bootstrap <hr> more */
}

/* Thin out the marketing headings */
.featurette-heading {
  font-weight: 300;
  line-height: 1;
  letter-spacing: -.05rem;
}


/* RESPONSIVE CSS
-------------------------------------------------- */

@media (min-width: 40em) {
  /* Bump up size of carousel content */
  .carousel-caption p {
    margin-bottom: 1.25rem;
    font-size: 1.25rem;
    line-height: 1.4;
  }

  .featurette-heading {
    font-size: 50px;
  }
}

@media (min-width: 62em) {
  .featurette-heading {
    margin-top: 7rem;
  }
}


.input-field{
  float:left;
  margin: 2rem;
  margin-left: 10rem;
}

a.button {
    -webkit-appearance: button;
    -moz-appearance: button;
    appearance: button;
    float: right;
    margin: 2rem;
    margin-right: 10rem;
    text-align: center;
    text-decoration: none;
    color: initial;
}
