footer {
  background-color: #241F24;
  /* color: #F2F1F0; */
  width: 100%;
}

#footer-container {
  font-size: 1.5rem;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

#footer__a,
.copyright {
  color: #FFFFFF;
  background-color: #241F24;
  padding: 0;
  margin: 60px;
}

.footer__logo {
  width: 65px;
  height: 25px;
}
