footer {
  background-color: #631A0F;
  color: #F6DFDB;
  width: 100%;
  height: 30px;
  position: absolute;
}

#footer-container {
  background-color: #631A0F;
  display: flex;
  justify-content: center;
  align-items: center;
}

.about-us {
  background-color: #631A0F;
  color: #F6DFDB;
  font-size: 12px;
  padding: 0;
  margin: 0;
}


.home {
  background-color: #631A0F;
  border-radius: 50%;
  /* justify-content: center;
  align-items: center; */
  margin-left: 250px;
  margin-right: 250px;
  padding: 0;
}

img, .home {
  width: 100px;
}

p {
  align-items: right;
  font-size: 12px;
  padding: 0;
  margin: 0;
}
