footer {
  background-color: #241F24;
  width: 100%;
}

#footer-container {
  font-size: 1.2rem;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

#footer__a,
.copyright {
  color: #FFFFFF;
  background-color: #241F24;
  padding: 0;
  margin: 60px;
}

#footer__a:hover {
  color: #EA6446;
  text-decoration: none;
}

.footer__logo {
  width: 65px;
  height: 25px;
}
