body {
  font-family: 'Open-Sans', sans-serif;
}

header {
  background-color: #241F24;
  color: #F2F1F0;
  font-family: 'Montserrat', sans-serif;
  width: 100%;
  text-align: center;
  height: 35vh;
}

.header__h1 {
  font-size: 6rem;
  padding-top: 25px;
}

.fa-gem {
  font-size: 4.5rem;
  margin-right: 1.5rem;
}

#header-line-left {
  height: 18vh;
  float: left;
}

#header-line-right {
  height: 18vh;
  float: right;
}
