body {
  font-family: 'Open-Sans', sans-serif;
}

header {
  background-color: #631A0F;
  color: #F6DFDB;
  width: 100%;
  text-align: center;
  height: 100vh;
}

 {
  font-family: 'Comfortaa', cursive;
}
