body {
  font-family: 'Open-Sans', sans-serif;
}

header {
  background-color: #241F24;
  color: #F2F1F0;
  width: 100%;
  text-align: center;
}

.home-account-wrap {
  float: right;
}

.header__a {
  padding-top: 18px;
  background-color: #241F24;
  font-family: 'Montserrat', sans-serif;
  font-size: 2rem;
}

.header__a:hover {
  color: #EA6446;
  text-decoration: none;
}

.fa-home,
.fa-user-circle {
  padding-right: .5rem;
}

.header__logo {
  margin-left: 185px;
  width: 500px;
  height: 200px;
}

.fa-gem {
  font-size: 4.5rem;
  margin-right: 1.5rem;
}

#header-line-left {
  height: 18vh;
  float: left;
}

#header-line-right {
  height: 18vh;
  float: right;
}
