button.nav{
  padding-left: 40px;
  padding-right: 40px;
  font-size: 2em;
  margin-top: 2rem;
  margin-bottom: 2rem;
  margin-right: 0;
  justify-content: center;
  font-family: "Shrikhand", cursive;
}

button {
  background-color: #EA6446;
  border: none;
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  font-family: 'Shrikhand', cursive;
  letter-spacing: 0.25rem;
  margin: 4px 2px;
  box-shadow: 3px 3px #A58C8A;
}

button.category{
  background-color: #EA6446;
  border: none;
  color: #F3E0DC;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 4rem;
  margin: 4px 2px;
  box-shadow: 3px 3px #D4A59A;

}

#sign-up{
  padding-left: 30px;
  padding-right: 30px;
  font-size: 15px;
  font-family: "Shrikhand", cursive;
}

#log-in{
  padding-left: 30px;
  padding-right: 30px;
  font-size: 15px;
  font-family: "Shrikhand", cursive;
}

.form{
  padding-left: 50px;
  padding-right: 50px;
  padding-top: 2rem;
  font-size: 15px;
  margin-bottom: 2rem;
}

#upper{
  background-color: #241F24;
}

#myCarousel{
  margin-bottom: 0;
}

#lower{
  background-color: #BC4639;
  padding-top: 10rem;
  padding-bottom: 20rem;
  margin: 0;
  color: #F3E0DC;
}
