/* General Styles */
html {
  font-size: 10px;
}

body {
  background-image: url("../images/result-bg.jpg");
  background-repeat: repeat;
}

#results__main {
  max-width: 100%;
  color: black;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin: 4rem 0rem 4rem 1.5rem;
}

.h2-style {
  font-size: 3.3rem;
  width: 100%;
  padding-left: 1rem;
  font-family: 'Shrikhand',cursive;
}

.card {
  background-color: #FBFAF8;
  width: 22%;
  margin: 3.3rem 1.2rem 1.2rem 1.2rem;
  display: flex;
  flex-direction: column;
  box-shadow: 2px 0 4px #a6a6a6;
}

.top-line {
  box-shadow: inset 0 0 0 1000px rgba(0,0,0,.4);
  display: flex;
  justify-content: center;
  align-items: center;
}

.product-img {
  width: 61%;
  border-radius: 1rem;
}

.bottom-line {
  display: flex;
  flex-direction: column;
  height: 24rem;
  margin: 0 1.4rem 0 1.4rem;
  font-family: "Montserrat", sans-serif
}

.product-title {
  margin-top: 1.4rem;
  margin-bottom: .3rem;
  font-weight: 600;
}

.product-price {
  margin-bottom: 1.7rem;
}

#product-url {
  color: #FFFFFF;
  text-decoration: none;
}

.product-url,
.wishlist-btn {
  margin-bottom: 2rem;
}
