/* General Styles */
html {
  font-size: 10px;
}

/* Homepage */
/*Results Cards*/
main {
  max-width: 100%;
  color: black;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin: 4rem 0rem 4rem 1.5rem;
}

.h2-style {
  font-size: 2.5rem;
  color: #FFFFFF;
  width: 100%;
  padding-left: 1rem;
}


.card {
  background-color: #FBFAF8;
  width: 22%;
  margin: 3.3rem 1.2rem 1.2rem 1.2rem;
  height: 36rem;
  display: flex;
  flex-direction: column;
  box-shadow: 2px 0 4px #a6a6a6;
}

.top-line {
  background-size: cover;
  background-repeat: no-repeat;
  box-shadow: inset 0 0 0 1000px rgba(0,0,0,.4);
  color: #FBFAF8;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  height: 15rem;
}

.bottom-line {
  display: flex;
  flex-direction: column;
  height: 24rem;
  margin: 0 1.4rem 0 1.4rem;
}

.product-title {
  margin-top: 1.4rem;
  margin-bottom: .3rem;
}

.product-price {
  margin-bottom: 1.7rem;
}

a {
  word-wrap: break-word;
  text-decoration: none;
  color: #8B8B8B;
  background-color: #EFEFEF;
  line-height: 1.5rem;
  padding: .5rem 1.5rem .5rem .5rem;
  margin-bottom: 1.7rem;
}

.product-url,
.wishlist-btn {
  margin-bottom: 2rem;
}
