main{
  margin-left: 63rem !important;
}

.form-control{
  margin: 5rem;
  font-size: 2rem !important;
  font-family: 'IBM Plex Sans', sans-serif;
}

#SUheading{
  margin: 5rem;
  text-align: center;
  font-size: 5rem;
  padding-left: 5rem;
  font-family: "Shrikhand", cursive;
}

#sign-up{
  padding-left: 50px;
  padding-right: 40px;
  font-size: 15px;
  font-family: "Shrikhand", cursive;
  margin-left: 40rem;
}

button{
  background-color: #04a0cc;
  border: none;
  color: #F3E0DC;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  box-shadow: 3px 3px #D4A59A;
}
